<footer role='contentinfo' class='tac mt3 pt2 pb2 fw300'>
  <p>
    <small>
      <a href='https://blog.colepeters.com/rss' class='smallCaps'>RSS</a> | 
      <a href='https://colepeters.com'>colepeters.com</a> | 
      <a href='https://twitter.com/cole_peters'>@cole_peters/</a>
    </small>
  </p>
  <p>
    <small>
      All original written content released under a <a href='https://creativecommons.org/licenses/by-nc-nd/4.0/'><span class='smallCaps'>CC BY-NC-ND</span> license</a>.<br>
      All original photographs &copy; the author.
    </small>
  </p>
  <p>
    <small>
      <a href='{{@blog.url}}'>You can go home again.</a>
    </small>
  </p>
</footer>
