<footer role='contentinfo' class='mt4 pt3 pb3 sans-serif lh-copy f6'>
  <p>
    <a href='https://blog.colepeters.com/rss' class='ttu tracked dark-green dim' style='font-size: 80%'>RSS</a> | 
    <a href='https://colepeters.com' class='dark-green dim'>colepeters.com</a> | 
    <a href='https://twitter.com/cole_peters' class='dark-green dim'>@cole_peters</a>
  </p>
  <p class='mid-gray'>
    All original written content released under a <a href='https://creativecommons.org/licenses/by-nc-nd/4.0/' class='dark-green dim'><span class='ttu tracked f6'>CC BY-NC-ND</span> license</a>.<br>
    All original photographs &copy; the author.
  </p>
  <p>
    <a href='{{@blog.url}}' class='dark-green dim'>You can go home again.</a>
  </p>
</footer>
