<header role='banner' {{#if @blog.cover}}style='background-image: url({{@blog.cover}})'{{/if}}>
<div class='pt4 pb4 pt6-ns pb6-ns'>
  <h1 class='ttu tracked sans-serif fw3 f3'>
    <a href='{{@blog.url}}' class='link mid-gray dim'>
      {{@blog.title}}
    </a>
  </h1>
</div>
</header>
