<div class='o-row c-pagination mt4 smallcaps'>
  <div class='o-col tal'>
    {{#if next}}
      <small>
        <a href='{{page_url next}}'>Older posts</a>
      </small>
    {{/if}}
  </div>
  <div class='o-col tac'>
    <p><small>Page {{page}} of {{pages}}</small></p>
  </div>
  <div class='o-col tar'>
    {{#if prev}}
      <small>
        <a href='{{page_url prev}}'>Newer posts</a>
      </small>
    {{/if}}
  </div>
</div>
