<div class='mt5 ttu tracked sans-serif f6 mid-gray'>
  <p>Page {{page}} of {{pages}}</p>
  {{#if next}}
    <a href='{{page_url next}}' class='dark-green dim'>Older posts</a>
  {{/if}}
  {{#if next}}
    {{#if prev}}
      /
    {{/if}}
  {{/if}}
  {{#if prev}}
    <a href='{{page_url prev}}' class='dark-green dim'>Newer posts</a>
  {{/if}}
</div>
