.c-post h2,
.c-post h3,
.c-post h4,
.c-post h5,
.c-post h6 {
  margin: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  color: var(--blue-600);
}

@media (--screen-md) {
  .c-post h2,
  .c-post h3,
  .c-post h4,
  .c-post h5,
  .c-post h6 {
    padding-top: 10vh;
    padding-bottom: 0;
    text-align: left;
  }

  .c-post h2 {
    font-size: 1.666em;
  }
}

.c-post-excerpt {
  position: relative;
  border-bottom: 1px solid var(--grey-300);
}

.c-post-excerpt:after {
  content: "";
  display: block;
  position: relative;
  top: 3.38rem;
  left: 50%;
  margin-left: -4px;
  height: 8px;
  width: 8px;
  border-radius: 5px;
  border: 1px solid var(--grey-300);
  background-color: #fafbfc;
}

.c-post-excerpt:first-child {
  padding-top: 0;
}

.c-post-datetime {
  font-family: "Source Sans Pro", Roboto, Helvetica, sans-serif;  
  font-size: 66%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #99a;
}

.c-post-readmore {
  font-size: 66%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.c-title {
  font-size: 333%;
  font-weight: 200;
  color: var(--blue-600);
}

.c-title--excerpt a {
  font-size: 150%;
  font-weight: 200;
  color: var(--blue-600);
}

.c-title--excerpt a:hover,
.c-title--excerpt a:focus {
  color: var(--blue-500);
}

/* Legacy class which should be namespaced, but isn't (in older articles) */
.smallCaps,
.u-smallCaps {
  font-size: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
