article a {
  color: #006C71;
}

article a:hover,
article a:focus {
  opacity: 0.5;
  transition: opacity .15s ease-in;
}

article a:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

.excerpt p {
  margin-bottom: 0;
}

.excerpt:first-child {
  padding-top: 0;
}

/*
 * LEGACY CLASSES WHICH NEED TO BE MAINTAINED FOR OLDER ARTICLES
 */

.u-smallCaps {
  font-size: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.quoteAttribution,
.c-quoteAttribution {
  display: block;
  margin-top: 1rem;
  font-size: 75%;
  font-weight: 400;
  font-style: italic;
}

.quoteAttribution:before,
.c-quoteAttribution:before {
  content: "—";
}

.caption,
.c-caption {
  margin-top: 0;
  display: block;
  font-size: 80%;
  font-style: italic;
  line-height: 1.4;
  color: #555;
}
