.c-header-title {
  font-size: 140%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--blue-700);
}

@media (--screen-md) {
  .c-header-title {
    font-size: 160%;
    letter-spacing: 3px;
  }
}

.c-header-description {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}
