hr {
  border: none;
  border-top: 1px solid var(--COLOR_GRAY_300);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

blockquote {
  border-left: 2px solid var(--COLOR_AQUA_300);
  margin: 2em 0;
}

blockquote p {
  margin-left: 0.5em;
  color: var(--COLOR_COOLGRAY_900);
}

@media (--SCREEN_MD) {
  blockquote p {
    margin-left: 1em;
    letter-spacing: -0.03em;
  }
}

blockquote a {
  color: var(--COLOR_BLUE_700);
}

em {
  letter-spacing: -0.5px;
}

pre,
code {
  color: var(--COLOR_MAGENTA_700);
}

pre {
  padding: 1em;
  border-radius: 3px;
  background-color: #f0f1f2;
}

::selection {
  text-shadow: none;
  background-color: var(--COLOR_GRAY_300);
}


::-moz-selection {
  text-shadow: none;
  background-color: var(--COLOR_GRAY_300);
}

