body {
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--blue-700);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (--screen-md) {
  body {
    font-size: 1.2rem;
  }
}

@media (--screen-lg) {
  body {
    font-size: 1.25rem;
    line-height: 1.666;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--grey-300);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

blockquote {
  border-left: 4px solid var(--grey-300);
  margin: 0;
}

blockquote p {
  margin-left: 0.5rem;
  font-family: "Source Sans Pro", Roboto, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 120%;
  line-height: 1.4;
  color: var(--blue-600);
}

@media (--screen-md) {
  blockquote p {
    margin-left: 2rem;
    line-height: 1.6;
    letter-spacing: -0.5px;
  }
}

em {
  letter-spacing: -0.5px;
}

pre,
code {
  font-family: "Source Code Pro", "Inconsolata XL", "Consolas", "Roboto Code", "Andale Mono", fixed-width;
  font-size: 80%;
  color: var(--maroon-500);
}

/* ========================================================
 * HEADINGS
 * ======================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Roboto, Helvetica, sans-serif;
  text-rendering: optimizelegibility;
  line-height: 1.2;
}

h1,
h2 {
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

h1 {
  letter-spacing: -2px;
}

h2 {
  letter-spacing: -1px;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* ========================================================
 * LINKS
 * ======================================================*/

/* Use background-image gradient for link underlines
 * http://codepen.io/jxnblk/pen/jCmwK */
a {
  text-decoration: none;
  color: var(--blue-700);
  background-image: linear-gradient(transparent 50%, var(--blue-700) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 90%;
  transition: all 0.2s;
}

a:hover,
a:focus {
  color: var(--blue-500);
  background-image: linear-gradient(transparent 50%, var(--blue-500) 50%);
}

a:active {
  color: var(--blue-700);
}

/* IE9 doesn’t do gradients; revert to underlines for it */
.ie9 a {
  background-image: transparent;
  text-decoration: underline;
}
