.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (--SCREEN_MD) {
  .o-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 42rem;
  }
}

@media (--SCREEN_LG) {
  .o-container {
    max-width: 52rem;
  }
}

/* Using ungrid pattern by Chris Nager
 * https://github.com/chrisnager/ungrid */
.o-row {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.o-col {
  display: table-cell;  
}
