@import "../../node_modules/tachyons/css/tachyons.min.css";
@import "_elements-typography.css";
@import "_components-post.css";
@import "_components-pagination.css";

body {
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.cp-serif {
  font-family: Charter, Garamond, Georgia, serif;
}
