@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/gemma/src/gemma.css";
@import "_elements-typography.css";
@import "_objects-grid.css";
@import "_components-header.css";
@import "_components-post.css";
@import "_components-pagination.css";

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (--SCREEN_MD) {
  body {
    font-size: 112.5%;
  }
}

@media (--SCREEN_LG) {
  body {
    font-size: 125%;
  }
}

.blog-bg {
  background-color: #fafbfc;
}
